@font-face {
  font-family: Orbitron;
  src: url("assets/font/Orbitron-ExtraBold.ttf") format("truetype");
  font-family: Michroma;
  src: url("assets/font/Michroma-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #00ffe1;
  transition: background 0.5s color 0.5s linear;
  background: radial-gradient(circle at top, #021f38, #000);
  color: #00ffe1;
}


.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  margin: 0;
  
}

.login-container {
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  background: transparent;
  margin: 0;
  
}

h2 #nex {
  font-family: Orbitron;
  color: #007498;
  font-size: 30px;
}

h2 #sus {
  font-family: Michroma;
  color: #00ffe1;
  font-size: 28px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: transparent;
  border: 1px solid #007498;
  border-radius: 8px;
  color: #007498;
  font-size: 16px;
}



input:focus {
  outline: none;
  border-color: #007498;
  box-shadow: 0 0 5px #007498;
}

::-webkit-input-placeholder {
  color: #007498;
  font-family: Michroma;
  font-size: 10px;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-right: 40px;
}

#togglePassword {
  position: absolute;
  right: 10px;
  top: 14px;
  cursor: pointer;
  font-size: 18px;
  color: #007498;
}

i{
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 5%;
  padding-top: 18px;
  color: #007498;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: transparent;
  border: 1px solid #007498;
  border-radius: 8px;
  font-size: 16px;
  color: #00ffe1;
  cursor: pointer;
  transition: 0.3s;
  font-family: Michroma;
}

button:hover {
  background: #007498;
  color: #000;
  box-shadow: 0 0 10px #00ffe1;
}

.signup-text {
  margin-top: 20px;
  font-size: 10px;
  color: #007498;
  font-family: Orbitron;
}

.signup-text a {
  color: #007498;
  text-decoration: none;
}

/* Responsividade */
@media (min-width: 1280px) {
  .login-container {
    max-width: 400px;
  }
}

@media (max-width: 1024px) {
  .login-container {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 100px;
  }

  h2 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 20px;
  }

  h2 {
    font-size: 22px;
  }

  input,
  button {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  body {
    flex-direction: column;
    padding: 20px;
  }
}

/* TELA VALIDAR */

.code-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.code {
  width: 40px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-family: Michroma;
  color: #007498;
  background: transparent;
  border: 1px solid #007498;
  border-radius: 8px;
}

.code:focus {
  outline: none;
  border-color: #00ffe1;
  box-shadow: 0 0 8px #00ffe1;
}
